<html xmlns:th="https://thymeleaf.org">  
<table>  
<tr>  
<td><h4>Customer Name: </h4></td>  
<td><h4 th:text="${customer.name}"></h4></td>  
</tr>  
<tr>  
	<td><h4>Customer Income: </h4></td>  
	<td><h4 th:text="${customer.income}"></h4></td>  
</tr>  
<tr>  
	<td><h4>Credit score Income: </h4></td>  
	<td><h4 th:text="${customer.creditScore}"></h4></td>  
</tr> 
<tr>  
	<td><h4>Loan Type </h4></td>  
	<td><h4 th:text="${recomendation.loanType}"></h4></td>  
</tr> 

 
</table>  
</html>  