<html lang="en">  
<head>  
<title>Loan  Page</title>  
</head>  
<body>  
<form action="saveloan" method="post">  
<table>  
 <tr>  
	<td><label for="user-name">User Name</label></td>  
	<td><input type="text" name="name"></input></td>  
</tr>   
 <tr>  
	<td><label for="income">Income</label></td>  
	<td><input type="number" name="income"></input></td>  
</tr>  
 <tr>  
	<td><label for="creditscore">credit score</label></td>  
	<td><input type="number" name="creditscore"></input></td>  
</tr>   
<tr>  
	<td></td>  
	<td><input type="submit" value="Submit"></input></td>  
</tr>  
</table>  
</form>  
</body>  
</html>  

